.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 40%;
    display: flex;
    padding: 15px;
}
.card__avatar {
    width: 100%;
    max-width: 220px;
    height: auto;
    padding: 1.5rem;
}
.card__name {
font-size: 1.8rem;
font-weight: 350;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card__container {
    padding: 2px 16px;
}
.card__percentage {
    font-size: 3rem;
    font-weight: 600;
    color: rgb(8, 107, 10);
}
.card__vote-number {
    font-size: 1.2rem;
    font-weight: 550;
    color: rgb(39, 8, 107);
}